<ion-view class="bg-gradient" view-title="Azaan">
  <ion-nav-buttons side="left">
    <a ui-sref="locations" class="button button-icon button-clear ion-ios-location-outline">
    </a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a ui-sref="settings" class="button button-icon button-clear ion-ios-gear-outline">
    </a>
  </ion-nav-buttons>

  <ion-content class="location">
    <!--<ion-slide-box show-pager="false">
      <ion-slide class="location" ng-repeat="loc in locations" ng-init="updateSlider()">-->
        <h2 class="location-name">Yogyakarta</h2>

        <!-- <div class="today row">
          <div class="col">
            <span class="pray">Subuh</span>
            <span class="time">04:00 AM</span>
          </div>
          <div class="col">
            <span class="pray">Duhr</span>
            <span class="time">11:50 AM</span>
          </div>
          <div class="col">
            <span class="pray">Ashr</span>
            <span class="time">14:55 PM</span>
          </div>
          <div class="col">
            <span class="pray">Maghrib</span>
            <span class="time">17:45 PM</span>
            </div>
          <div class="col">
            <span class="pray">Isya'</span>
            <span class="time">18:55 PM</span>
          </div>
        </div> -->
          <div class="day right">
            <div class="date">
              <div class="roman">24 Nov 2015</div>
              <div class="hijr">1 Muharram 1434H</div>
            </div>
            <div class="pray">
              <span class="name">Shubuh</span>
              <span class="time">04:00 am</span>
            </div>
            <div class="pray">
              <span class="name">Dhuhr</span>
              <span class="time">12:00 pm</spanv>
            </div>
            <div class="pray">
              <span class="name">Ashr</span>
              <span class="time">03:00 pm</spaniv>
            </div>
            <div class="pray">
              <span class="name">Maghrib</span>
              <span class="time">6:00 pm</span>
            </div>
            <div class="pray">
              <span class="name">Isya'</span>
              <span class="time">7:00 pm</span>
            </div>
          </div>

          <div class="day">
            <div class="date">
              <div class="roman">24 Nov 2015</div>
              <div class="hijr">1 Muharram 1434H</div>
            </div>
            <div class="pray">
              <span class="name">Shubuh</span>
              <span class="time">04:00 am</span>
            </div>
            <div class="pray">
              <span class="name">Dhuhr</span>
              <span class="time">12:00 pm</spanv>
            </div>
            <div class="pray">
              <span class="name">Ashr</span>
              <span class="time">03:00 pm</spaniv>
            </div>
            <div class="pray">
              <span class="name">Maghrib</span>
              <span class="time">6:00 pm</span>
            </div>
            <div class="pray">
              <span class="name">Isya'</span>
              <span class="time">7:00 pm</span>
            </div>
          </div>

          <div class="day right">
            <div class="date">
              <div class="roman">24 Nov 2015</div>
              <div class="hijr">1 Muharram 1434H</div>
            </div>
            <div class="pray">
              <span class="name">Shubuh</span>
              <span class="time">04:00 am</span>
            </div>
            <div class="pray">
              <span class="name">Dhuhr</span>
              <span class="time">12:00 pm</spanv>
            </div>
            <div class="pray">
              <span class="name">Ashr</span>
              <span class="time">03:00 pm</spaniv>
            </div>
            <div class="pray">
              <span class="name">Maghrib</span>
              <span class="time">6:00 pm</span>
            </div>
            <div class="pray">
              <span class="name">Isya'</span>
              <span class="time">7:00 pm</span>
            </div>
          </div>
      <!--</ion-slide>
    </ion-slide-box>-->
  </ion-content>
</ion-view>
