<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="aboutClose()"><i class="icon ion-android-close"></i></button>
    </div>
    <h1 class="title">About Azaan</h1>
  </ion-header-bar>
  <ion-content style="padding:20px">
    <p>Azaan is an app to help you pray in time. You can add as many locations in the world and select one as your current city.</p>
    <p>The data is taken from <a href="http://muslimsalat.com">MuslimSalat.com</a></p>
  </ion-content>
</ion-modal-view>
